*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main2{
    display: grid;
    background-color: blue;
    grid-template-areas: "h h h"
                          "me ma r"
                            "me f f";
    gap: 10px;                        
                            
}
div{
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
}
#header{
    grid-area: h;
}
#menu{
    grid-area: me;
}
#main{
    grid-area: ma;
}
#right{
    grid-area: r;
}
#footer{
    grid-area: f;
}